
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 192rem;
}.portofolio-vuX {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  width: 100%;
  overflow: hidden;
  position: relative;
  row-gap: 1.1rem;
  align-items: center;

  .tampilan-awal--X8d {
    box-sizing: border-box;
    height: 108rem;
    position: relative;
    flex-shrink: 0;
    padding: 4.9rem 67.5rem 4.9rem 10.5rem;
    width: 100%;
    overflow: hidden;
    display: flex;
    align-items: flex-start;
    background-color: #f66700;

    .airos-xt9 {
      height: 7.718rem;
      position: relative;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
      margin: 2.6rem 24.197rem 0rem 0rem;
      width: 29.0026rem;
    }
    .auto-group-45q5-qS9 {
      padding-top: 37.2rem;
      width: 60.8rem;
      height: 60.5rem;
      flex-shrink: 0;
      box-sizing: border-box;

      .auto-group-9ard-9Sq {
        width: 100%;
        height: 100%;
        position: relative;

        .graphic-design-TyK {
          height: 7.8rem;
          left: 5.9rem;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          width: 47.4rem;
          position: absolute;
          top: 15.5rem;
          font-size: 6.4rem;
          font-weight: 600;
          line-height: 1.2125;
          color: #ffffff;
        }
        .portofolio-WRo {
          height: 15.6rem;
          top: 0;
          font-size: 12.8rem;
          font-weight: 600;
          color: #ffffff;
          white-space: nowrap;
          width: 60.8rem;
          position: absolute;
          left: 0;
          line-height: 1.2125;
          font-family: Inter, 'Source Sans Pro';
        }
      }
    }
  }
  .item-4-n8R {
    overflow: hidden;
    background-color: #ffffff;
    flex-shrink: 0;
    box-sizing: border-box;
    height: 108rem;
    position: relative;
    display: flex;
    align-items: center;
    padding: 27.3rem 11.2rem 21.3rem 31rem;
    width: 100%;

    .auto-group-pnsu-HL5 {
      height: 100%;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      margin-right: 10.9rem;

      .hello-im-abdi-ronggo-suroso-d93 {
        line-height: 1.2125;
        color: #f66700;
        font-family: Inter, 'Source Sans Pro';
        flex-shrink: 0;
        margin-bottom: 7.6rem;
        max-width: 62.1rem;
        font-size: 9.6rem;
        font-weight: 600;

        .hello-im-abdi-ronggo-suroso-d93-sub-0 {
          font-size: 12.8rem;
          font-weight: 600;
          line-height: 1.2125;
          color: #f66700;
          font-family: Inter, 'Source Sans Pro';
        }
        .hello-im-abdi-ronggo-suroso-d93-sub-1 {
        }
      }
      .frame-1-Fpd {
        align-items: center;
        flex-shrink: 0;
        margin-left: 1.8625rem;
        box-sizing: border-box;
        padding: 2.682rem 0rem 2.682rem 0rem;
        height: 13rem;
        display: flex;

        .facebook-mHB {
          position: relative;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          margin: 0rem 3.994rem 0rem 0rem;
          width: 7.575rem;
          height: 7.575rem;
        }
        .instagram-Gjj {
          overflow: hidden;
          position: relative;
          background-size: cover;
          background-repeat: no-repeat;
          background-image: url('REPLACE_IMAGE:I30:26;239:120');
          margin-right: 4.3447rem;
          height: 100%;
          background-position: center;
          flex-shrink: 0;

          .vector-CtH {
            width: 7.636rem;
            height: 7.6364rem;
            object-fit: contain;
            vertical-align: top;
          }
        }
        .behance-uGu {
          height: 6.4976rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          margin: 0rem 2.815rem 0.003rem 0rem;
          width: 9.7726rem;
        }
        .vector-zZF {
          flex-shrink: 0;
          margin-top: 0rem;
          width: 7.8rem;
          height: 7.6rem;
          object-fit: contain;
          vertical-align: top;
        }
      }
    }
    .you-can-call-me-abdi-i-am-a-student-and-a-multimedia-designer-based-in-batam-indonesia-X3P {
      font-weight: 600;
      line-height: 1.4583333333;
      color: #f66700;
      font-family: Inter, 'Source Sans Pro';
      flex-shrink: 0;
      margin-bottom: 0.8rem;
      max-width: 76.8rem;
      font-size: 4.8rem;
    }
  }
  .item-4-yvy {
    padding: 20.2rem 22.1rem 37.8rem 15.9rem;
    height: 108rem;
    overflow: hidden;
    align-items: center;
    box-sizing: border-box;
    width: 100%;
    position: relative;
    display: flex;
    background-color: #ffffff;
    flex-shrink: 0;

    .adobepremierepro-logo-1-Hgm {
      margin: 19.3rem 13.1rem 0rem 0rem;
      width: 20.2rem;
      height: 29.1rem;
      object-fit: cover;
      vertical-align: top;
      flex-shrink: 0;
    }
    .adobe-photoshop-logo-0-1-bhT {
      margin: 19.3rem 6.1rem 0rem 0rem;
      width: 19.9rem;
      height: 29.1rem;
      object-fit: cover;
      vertical-align: top;
      flex-shrink: 0;
    }
    .auto-group-1ykb-7fo {
      align-items: center;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      margin-right: 6.1rem;
      height: 100%;

      .my-skill-rtH {
        margin-bottom: 7.7rem;
        font-size: 9.6rem;
        font-weight: 600;
        line-height: 1.2125;
        color: #f66700;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
      }
      .adobeaftereffects-logo-1-CSM {
        object-fit: cover;
        vertical-align: top;
        flex-shrink: 0;
        margin-left: 0.1rem;
        width: 19.8rem;
        height: 30.6rem;
      }
    }
    .adobeillustratorccicon-1-ubf {
      margin: 19.3rem 11.3rem 0rem 0rem;
      width: 21.2rem;
      height: 20.7rem;
      object-fit: cover;
      vertical-align: top;
      flex-shrink: 0;
    }
    .colored-DsF {
      position: relative;
      flex-shrink: 0;
      margin-top: 19.8rem;
      width: 20.2rem;
      height: 20.2rem;

      .group-3-AGh {
        top: 2.8857rem;
        width: 9.619rem;
        height: 14.4286rem;
        position: absolute;
        left: 5.2905rem;

        .auto-group-iw6q-TFo {
          width: 100%;
          height: 4.8095rem;
          display: flex;
          align-items: center;

          .auto-group-t4bt-CDP {
            border-radius: 1rem 0 0 1rem;
            flex-shrink: 0;
            width: 4.8095rem;
            height: 100%;
            border: solid 0.1rem #4f5156;
            box-sizing: border-box;
            background: radial-gradient(50% 50% at 50% 50%, #ff6342 0%, #f34628 100%);

            .rectangle-7-HPF {
              width: 100%;
              height: 4.8095rem;
              border: solid 0.1rem #4f5156;
              box-sizing: border-box;
              background: radial-gradient(50% 50% at 50% 50%, #ff6342 0%, #f34628 100%);
              border-radius: 1rem 0 0 1rem;
            }
          }
          .auto-group-vouj-Uid {
            width: 4.8095rem;
            height: 100%;
            border: solid 0.1rem #4f5156;
            box-sizing: border-box;
            background: radial-gradient(50% 50% at 50% 50%, #ff867c 0%, #ff756c 100%);
            border-radius: 1rem 0 0 1rem;
            flex-shrink: 0;

            .rectangle-8-Rtm {
              width: 100%;
              height: 4.8095rem;
              border: solid 0.1rem #4f5156;
              box-sizing: border-box;
              background: radial-gradient(50% 50% at 50% 50%, #ff867c 0%, #ff756c 100%);
              border-radius: 1rem 0 0 1rem;
            }
          }
        }
        .auto-group-rlps-rUH {
          width: 100%;
          height: 4.8095rem;
          display: flex;
          align-items: center;

          .auto-group-3uky-o8d {
            width: 4.8095rem;
            height: 100%;
            border: solid 0.1rem #4f5156;
            box-sizing: border-box;
            background: radial-gradient(50% 50% at 50% 50%, #ac64f7 0%, #a155f2 100%);
            border-radius: 1rem 0 0 1rem;
            flex-shrink: 0;

            .rectangle-10-Yru {
              box-sizing: border-box;
              background: radial-gradient(50% 50% at 50% 50%, #ac64f7 0%, #a155f2 100%);
              border-radius: 1rem 0 0 1rem;
              width: 100%;
              height: 4.8095rem;
              border: solid 0.1rem #4f5156;
            }
          }
          .auto-group-ysc1-aHo {
            background: radial-gradient(50% 50% at 50% 50%, #1fc3f6 0%, #41cdfb 100%);
            border-radius: 1rem;
            flex-shrink: 0;
            width: 4.8095rem;
            height: 100%;
            border: solid 0.1rem #4f5156;
            box-sizing: border-box;

            .rectangle-9-Wx9 {
              width: 100%;
              height: 4.8095rem;
              border: solid 0.1rem #4f5156;
              box-sizing: border-box;
              background: radial-gradient(50% 50% at 50% 50%, #1fc3f6 0%, #41cdfb 100%);
              border-radius: 1rem;
            }
          }
        }
        .auto-group-ka3k-Ytq {
          box-sizing: border-box;
          background: radial-gradient(50% 50% at 50% 50%, #00dd8c 0%, #00c984 100%);
          border-radius: 1rem 0 1rem 1rem;
          width: 4.8095rem;
          border: solid 0.1rem #4f5156;

          .rectangle-11-6fT {
            width: 100%;
            height: 4.8095rem;
            border: solid 0.1rem #4f5156;
            box-sizing: border-box;
            background: radial-gradient(50% 50% at 50% 50%, #00dd8c 0%, #00c984 100%);
            border-radius: 1rem 0 1rem 1rem;
          }
        }
      }
      .rectangle-1-gtZ {
        left: 0;
        top: 0;
        box-sizing: border-box;
        background: linear-gradient(180deg, rgba(0, 0, 0, 0.400000006) -0%, rgba(0, 0, 0, 0.1000000015) 100%);
        border-radius: 1.8rem;
        width: 20.2rem;
        height: 20.2rem;
        position: absolute;
        border: solid 0.1rem #4f5156;
        backdrop-filter: blur(0.8rem);
      }
      .group-2-YQy {
        width: 9.619rem;
        height: 14.4286rem;
        position: absolute;
        left: 5.2905rem;
        top: 2.8857rem;

        .auto-group-57ht-rwT {
          display: flex;
          align-items: center;
          width: 100%;
          height: 4.8095rem;

          .auto-group-qehp-c9w {
            width: 4.8095rem;
            height: 100%;
            background: radial-gradient(50% 50% at 50% 50%, #ff6342 0%, #f34628 100%);
            border-radius: 1rem 0 0 1rem;
            flex-shrink: 0;

            .rectangle-7-ABT {
              border-radius: 1rem 0 0 1rem;
              width: 100%;
              height: 4.8095rem;
              background: radial-gradient(50% 50% at 50% 50%, #ff6342 0%, #f34628 100%);
            }
          }
          .auto-group-cdvb-pWu {
            width: 4.8095rem;
            height: 100%;
            background: radial-gradient(50% 50% at 50% 50%, #ff867c 0%, #ff756c 100%);
            border-radius: 1rem 0 0 1rem;
            flex-shrink: 0;

            .rectangle-8-NYR {
              width: 100%;
              height: 4.8095rem;
              background: radial-gradient(50% 50% at 50% 50%, #ff867c 0%, #ff756c 100%);
              border-radius: 1rem 0 0 1rem;
            }
          }
        }
        .auto-group-qxch-27B {
          width: 100%;
          height: 4.8095rem;
          display: flex;
          align-items: center;

          .auto-group-xvt7-yHK {
            border-radius: 1rem 0 0 1rem;
            flex-shrink: 0;
            width: 4.8095rem;
            height: 100%;
            background: radial-gradient(50% 50% at 50% 50%, #ac64f7 0%, #a155f2 100%);

            .rectangle-10-vyF {
              width: 100%;
              height: 4.8095rem;
              background: radial-gradient(50% 50% at 50% 50%, #ac64f7 0%, #a155f2 100%);
              border-radius: 1rem 0 0 1rem;
            }
          }
          .auto-group-jtpw-P69 {
            width: 4.8095rem;
            height: 100%;
            background: radial-gradient(50% 50% at 50% 50%, #1fc3f6 0%, #41cdfb 100%);
            border-radius: 1rem;
            flex-shrink: 0;

            .rectangle-9-jfo {
              width: 100%;
              height: 4.8095rem;
              background: radial-gradient(50% 50% at 50% 50%, #1fc3f6 0%, #41cdfb 100%);
              border-radius: 1rem;
            }
          }
        }
        .auto-group-qpop-bCD {
          width: 4.8095rem;
          background: radial-gradient(50% 50% at 50% 50%, #00dd8c 0%, #00c984 100%);
          border-radius: 1rem 0 1rem 1rem;

          .rectangle-11-YNM {
            width: 100%;
            height: 4.8095rem;
            background: radial-gradient(50% 50% at 50% 50%, #00dd8c 0%, #00c984 100%);
            border-radius: 1rem 0 1rem 1rem;
          }
        }
      }
    }
  }
  .item-8-Lp1 {
    position: relative;
    align-items: center;
    flex-direction: column;
    box-sizing: border-box;
    width: 100%;
    display: flex;
    background-color: #ffffff;
    flex-shrink: 0;
    padding: 15.8rem 8.1rem 10.4rem 11.4rem;
    overflow: hidden;

    .projects-GBs {
      font-weight: 600;
      line-height: 1.2125;
      color: #f66700;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin: 0rem 4.3rem 9rem 0rem;
      font-size: 9.6rem;
    }
    .auto-group-wokd-meR {
      flex-shrink: 0;
      width: 100%;
      display: flex;
      column-gap: 4.1rem;
      align-items: center;

      .iwan-fals-4-1-1-X7o {
        width: 41.5rem;
        height: 61.1rem;
        object-fit: cover;
        vertical-align: top;
        flex-shrink: 0;
      }
      .font-desain-1-TXF {
        width: 42.9rem;
        height: 61.1rem;
        object-fit: cover;
        vertical-align: top;
        flex-shrink: 0;
      }
      .tampak-depan-brousur-abdi-1-zn5 {
        width: 79.9rem;
        height: 61.1rem;
        object-fit: cover;
        vertical-align: top;
        flex-shrink: 0;
      }
    }
  }
  .item-7-K3f {
    flex-shrink: 0;
    padding: 4.1rem 6.9rem 13.6rem 6.9rem;
    width: 100%;
    position: relative;
    flex-direction: column;
    background-color: #ffffff;
    box-sizing: border-box;
    overflow: hidden;
    align-items: center;
    display: flex;

    .auto-group-uf29-SPB {
      align-items: center;
      flex-shrink: 0;
      width: 100%;
      display: flex;

      .majalah-gedung-mackup-1-CNM {
        background-position: -15.0634rem -27.7413rem;
        background-image: url('REPLACE_IMAGE:cfd9409d24af17494284377e1e93d70019b006ad');
        flex-shrink: 0;
        width: 90.8rem;
        height: 45.1rem;
        position: relative;
        background-size: 133.9% 221.986%;
      }
      .majalah-makanan-mackup-1-V6Z {
        position: relative;
        background-size: 133.033% 212.727%;
        background-position: -14.2716rem -25.912rem;
        background-image: url('REPLACE_IMAGE:646c4e72de822ea0e6c8d9dd04344bdae4b077fc');
        flex-shrink: 0;
        width: 87.4rem;
        height: 45.1rem;
      }
    }
    .auto-group-fopf-Ng9 {
      display: flex;
      align-items: center;
      flex-shrink: 0;
      width: 100%;

      .majalah-mockup-cr-1-LN5 {
        background-image: url('REPLACE_IMAGE:6ecd0cee4167137e870d0196852b52fd2ab318e8');
        flex-shrink: 0;
        width: 90.8rem;
        height: 45.2rem;
        position: relative;
        background-size: 132.005% 217.829%;
        background-position: -14.2667rem -27.3302rem;
      }
      .majalah-wisata-1-Dgm {
        height: 45.2rem;
        position: relative;
        background-size: 134.522% 223.344%;
        background-position: -15.1635rem -29.4643rem;
        background-image: url('REPLACE_IMAGE:a73944c019a45b34dd6adeaafa5826de8669ca98');
        flex-shrink: 0;
        width: 87.4rem;
      }
    }
  }
  .item-7-G2m {
    flex-shrink: 0;
    box-sizing: border-box;
    padding: 14.2rem 36.8rem 11.3rem 36.8rem;
    overflow: hidden;
    align-items: center;
    background-color: #ffffff;
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;

    .contact-BQd {
      line-height: 1.2125;
      color: #f66700;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin: 0rem 1.6rem 6.7rem 0rem;
      font-size: 9.6rem;
      font-weight: 600;
    }
    .auto-group-81er-hNy {
      box-sizing: border-box;
      padding: 8.1rem 7.868rem 7.2rem 7.9rem;
      width: 100%;
      display: flex;
      flex-direction: column;
      background-color: #f66700;
      flex-shrink: 0;

      .email-D6R {
        flex-shrink: 0;
        margin-bottom: 2rem;
        font-size: 6.4rem;
        font-weight: 600;
        line-height: 1.2125;
        color: #ffffff;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
      }
      .abdironggos18gmailcom-8z5 {
        line-height: 1.2125;
        color: #ffffff;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-bottom: 8.3rem;
        font-size: 4.8rem;
        font-weight: 600;
      }
      .phone-fj7 {
        flex-shrink: 0;
        margin-bottom: 3.3rem;
        font-size: 6.4rem;
        font-weight: 600;
        line-height: 1.2125;
        color: #ffffff;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
      }
      .item-62-81992548995-Cyw {
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-bottom: 0.5rem;
        font-size: 4.8rem;
        font-weight: 600;
        line-height: 1.2125;
        color: #ffffff;
      }
      .airos-LKT {
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin-left: 75.2rem;
        width: 27.4318rem;
        height: 7.3rem;
        position: relative;
      }
    }
  }
}
